.contenedor{background-color: darkgrey;width:93%;height:1000px;
margin-left: auto;margin-right: auto;/*Centrar  el div*/
}
header{
    background-color: white;
    height: 130px;
}
header div{background-color: antiquewhite;height:100px;}
.izq{float:left;width:50%;background-color: blue;}
.der{float:right;width:50%;background-color: chocolate;}
.arriba{background-color: crimson;height: 50%;}
nav{background-color: aqua;float:right;width:100%;}
/********************************************************************/
section{background-color: blueviolet; height:450px;}
.baner{width:97%;margin-left: auto;margin-right: auto;height: 320px;background-color: burlywood;

}
/********************************************************************/
aside{background-color: brown;}
footer{background-color: chartreuse;}
